html {
  font-size: 10px;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "montserrat";
}

h1 {
  font-size: 3rem;
  margin: 1.5rem 0rem 1rem;
  text-align: center;
}

p {
  width: fit-content;
  padding: 0.5rem 1rem;
  background-color: rgb(205, 205, 205);
  font-family: "poppins";
  font-size: 15px;
  border-radius: 5px;
}
