html {
  font-size: 10px;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "montserrat";
}

h1 {
  font-size: 5rem;
  margin: 1.5rem 0rem 1rem;
  text-align: center;
}

p {
  width: fit-content;
  padding: 0.5rem 1rem;
  background-color: rgb(205, 205, 205);
  font-family: "poppins";
  font-size: 1.8rem;
  border-radius: 5px;
  margin: 0.5rem auto;
}

.container {
  width: 100%;
  padding: 3%;
  box-sizing: border-box;
}

h2 {
  font-size: 3rem;
}

.examples {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem 0;
  justify-content: center;
  column-gap: 20px;
}

.width-in-px {
  width: 150px;
  height: 150px;
  background-color: coral;
  color: white;
  display: flex;
  margin: 0;
  align-items: center;
  text-align: center;
}

.font-size-px {
  font-size: 30px;
  margin: 0;
  background-color: blueviolet;
  color: white;
}
