body {
  margin: 0px;
}

h1 {
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  width: 100%;
  color: white;
  font-weight: 700;
}

.header {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(90deg, #4e54c8 0%, #8f94fb 100%);
  margin-bottom: 20px;
  position: relative;
}
.MainContainer {
  width: 90%;
  margin: auto;
  height: 500px;
  display: flex;
  padding: 5px;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 5px;
}

.MainContainer div {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
.MainContainer div:nth-of-type(3) {
  align-self: flex-start;
}

.MainContainer div:nth-of-type(2) {
  align-self: center;
}

.MainContainer div:nth-of-type(5) {
  align-self: flex-start;
}

.MainContainer div:nth-of-type(4) {
  align-self: center;
}

.Selectproperties {
  width: 100%;
  text-align: center;
}

.Selectproperties h2 {
  font-size: 20px;
  font-family: rubik;
  font-weight: 600;
  color: black;
  letter-spacing: 1px;
  /*background-image: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
  -webkit-background-clip: text;*/
}

.ListProperties {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  background-color: whitesmoke;
  margin: auto;
  padding: 2px;
  border-radius: 1.5em;
  font-size: 20px;
  margin-bottom: 10px;
}

.toggleButton {
  width: 20%;
  font-size: 16px;
  font-family: rubik;
  flex: 1;
  flex-basis: 150px;
  border-radius: 1.5em;
  padding: 8px 1px;
  text-align: center;
  list-style: none;
  cursor: auto;
  transition: all 0.3s ease;
  cursor: pointer;
}

.toggleButton.active {
  background-color: #ff3333;
  box-shadow: 1px 1px 1px grey;
  color: white;
  border: 0.5px solid red;
}

.toggleButton:nth-of-type(2) {
  flex-grow: 1;
}

.content {
  display: none;
}

.active-content {
  display: block;
}
.container {
  width: 90%;
  margin: auto;
  height: 500px;
  display: flex;
  padding: 5px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 50px;
}

.elements {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

h3.ContainerHeader {
  font-family: Rubik;
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}

/* Flex-direction Properties and container*/

.DirectionProperties {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  background-color: whitesmoke;
  margin: auto;
  padding: 2px;
  border-radius: 1.5em;
  font-size: 20px;
  margin-bottom: 10px;
}

.DirectionProperties .toggleButtonFD {
  width: 20%;
  font-size: 16px;
  font-family: rubik;
  flex: 1;
  flex-basis: 150px;
  border-radius: 1.5em;
  padding: 8px 1px;
  text-align: center;
  list-style: none;
  cursor: auto;
  transition: all 0.3s ease;
  cursor: pointer;
}

.DirectionProperties .toggleButtonFD.active {
  background-color: #ff3333;
  box-shadow: 1px 1px 1px grey;
  color: white;
  border: 0.5px solid red;
}

/* Styling there container*/

/* Row Container*/
.row.container {
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
}

.row-reverse.container {
  flex-direction: row-reverse;
  justify-content: center;
  column-gap: 10px;
}

.column.container {
  flex-direction: column;
  height: 1050px;
  justify-content: space-between;
  align-items: center;
}

.column-reverse.container {
  flex-direction: column-reverse;
  height: 1050px;
  justify-content: space-between;
  align-items: center;
}

/* Box Styling */
.elements {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: Montserrat;
  font-weight: 600;
}
/* Justify content container styling*/
.JustifyProperties,
.AlignItemsmenu,
.AlignContentProperties,
.FlexWrapProperties,
.AlignSelfProperties {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  background-color: whitesmoke;
  margin: auto;
  padding: 2px;
  border-radius: 1.5em;
  font-size: 20px;
  margin-bottom: 10px;
}

.JustifyProperties .toggleButtonJC,
.AlignItemsmenu .toggleButtonAI,
.AlignContentProperties .toggleButtonAC,
.FlexWrapProperties .toggleButtonFW,
.AlignSelfProperties .toggleButtonAS {
  width: 20%;
  font-size: 16px;
  font-family: rubik;
  flex: 1;
  flex-basis: 150px;
  border-radius: 1.5em;
  padding: 8px 1px;
  text-align: center;
  list-style: none;
  cursor: auto;
  transition: all 0.3s ease;
  cursor: pointer;
}

.JustifyProperties .toggleButtonJC.active,
.AlignItemsmenu .toggleButtonAI.active,
.AlignContentProperties .toggleButtonAC.active,
.FlexWrapProperties .toggleButtonFW.active,
.AlignSelfProperties .toggleButtonAS.active {
  background-color: #ff3333;
  box-shadow: 1px 1px 1px grey;
  color: white;
  border: 0.5px solid red;
}

.Flex-start.container {
  justify-content: flex-start;
  column-gap: 10px;
  align-items: flex-start;
}

.Flex-end.container {
  justify-content: flex-end;
  column-gap: 10px;
  align-items: flex-start;
}

.Space-around.container {
  justify-content: space-around;
  align-items: center;
}

.Space-between.container {
  justify-content: space-between;
  align-items: center;
}

.Space-evenly.container {
  justify-content: space-evenly;
  align-items: center;
}

h2 {
  width: 100%;
  font-family: Montserrat;
  text-align: center;
  margin-top: 30px;
}
/* Align Items */
.Flex-start.containerAI {
  align-items: flex-start;
}
.Flex-end.containerAI {
  align-items: flex-end;
}
.Center.containerAI {
  align-items: center;
}
.Baseline.containerAI {
  align-items: baseline;
}

/* Align Content */
.Flex-start.containerAC {
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.Flex-end.containerAC {
  align-content: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.Space-around.containerAC {
  align-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.Space-between.containerAC {
  align-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.Space-evenly.containerAC {
  align-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

/* Flex Wrap Properties */
.containerFW.nowrap {
  height: 700px;
}

.wrap.containerFW {
  flex-direction: column;
  flex-wrap: wrap;
}
.nowrap.containerFW {
  flex-direction: column;
  flex-wrap: nowrap;
}
.wrap-reverse.containerFW {
  flex-direction: column;
  flex-wrap: wrap-reverse;
}

/* Align Self */
.Flex-start.containerAS {
  justify-content: center;
  align-items: center;
}
.Flex-start.containerAS .elements:nth-of-type(3) {
  align-self: flex-start;
}

.Flex-end.containerAS {
  justify-content: center;
  align-items: center;
}

.Flex-end.containerAS .elements:nth-of-type(3) {
  align-self: flex-end;
}

.Center.containerAS {
  align-items: flex-start;
}
.Center.containerAS .elements:nth-of-type(3) {
  align-self: center;
}
/* Styling for the properties bar which shrink when vw is less*/
@media (max-width: 1226px) {
  .ListProperties {
    width: 90%;
    height: auto;
    flex-wrap: wrap;
  }

  .toggleButton {
    flex-basis: 150px;
  }
}

@media (max-width: 760px) {
  h1 {
    font-size: 35px;
    font-weight: 600;
  }
  .Obstracle1 {
    width: 50px;
    height: 50px;
    top: 10;
    left: 0px;
  }
  .Obstracle2 {
    width: 50px;
    height: 50px;
    right: 0;
    bottom: 1px;
  }
  .Obstracle3 {
    transform: scale(1) rotate(45deg);
    bottom: 10px;
  }
}
